.center{
	text-align:center;
}
.logo{
	height:60px;
	width:60px;
}
<<<<<<< HEAD
body{
	background-color:#62909e;
	
}
.bigger{
	font-size:60px;
}
.bText{
	font-size:30px;
}
.angle{
	border-style:solid;
	border-color:black;
	border-width:2px;
}
.square{
	color:#fcf2b1;
}
.jerry{
	color:#ffea5e;
}
.carousel {
   
   height:360px;
 }
.time{
	height:150px;
	width:250px;
 }
 .hidden{
	display:none;
 }
 .white{
	background-color:#FFFFFF;
 }
.medium{
	font-size:18px;
	margin-left:350px;
	margin-right:350px;
}

=======
.Bimg{
	height:500px;
	width:636px;
}
.bimg{
	height:350px;
	width:400px;
}
.Btext{
	font-size:20px;

	margin-left:0px;
	padding:70px;
}
.btext{
	font-size:20px;
	margin:210px; 
	margin-top:0px;
	padding:30px;
}
body{
	background-color:black;
}
.textbground{
	background-color:white;
}
	
>>>>>>> 5ebd16adad5a44ceab9d5b1f9ae70c3905cf234c
